.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
}

#url-label {
  top: 2rem;
  left: 0.9rem;
  color: #999;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  display: inline-block;
  position: relative;
  padding: 0px 4px;
  background-color: white;
  cursor: text;
  margin-bottom: 0 !important;
  z-index: 10;
}

.focused {
  transform: translateY(-120%);
  font-size: .8em;
}

.form-control:focus {
  border-color: #198754 !important;
  box-shadow: none !important;
}

.message {
  margin-top: -0.5rem;
  margin-bottom: 0.7rem;
}

.description {
  font-size: 0.9em !important;
  margin-left: 0.17rem;
}

.form-check-input:focus {
  box-shadow: none;
}

.remove .form-check-input {
  border-color: #bb2d3b !important;
}

.remove .form-check-input:checked {
  background-color: #bb2d3b;
}

.staged .form-check-input {
  border-color: #029fbf !important;
}

.staged .form-check-input:checked {
  background-color: #029fbf;
}